.faq {
  background: #0b0b0b;
  padding-top: 65px;
  padding-inline: 8px;
}

.faqWrapper {
  margin: 0 auto;
  background: #1f1f1f;
  max-width: 1620px;
  padding-bottom: 127px;
  border-radius: 21px;
  padding-top: 30px;
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  min-height: 70px;
  border-radius: 13px;
  padding-inline: 28px;
  background: #2c2c2c;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #fff;
}

.faqSvg {
  width: 14px;
  height: 14px;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(45deg);
}

.answer {
  max-width: 450px;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #fff;
  border-radius: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answerOpen {
  max-height: 500px;
}

.answerInner {
  padding: 40px 28px 33px;
}

.faqItem {
  border-radius: 16px;
  overflow: hidden;
  background: #2c2c2c;
}

.activItem {
  background: #6162fd;
}

/*.question {
  width: 100%;
  height: 70px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;

  font-size: 20px;
  color: white;
}

.icon {
  width: 16px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(45deg);
}

.answer {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.answerInner {
  padding: 30px 28px;
  background: #6162fd;
  color: white;
}*/
