.faq {
  background: #0b0b0b;
  padding-top: 4rem;
  padding-inline: 0.5rem;
}

.faqWrapper {
  margin: 0 auto;
  background: #1f1f1f;
  max-width: 1620px;
  padding-bottom: 8rem;
  border-radius: 21px;
  padding-top: 2rem;
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  min-height: 70px;
  border-radius: 13px;
  padding-inline: 1.75rem;
  background: #2c2c2c;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #fff;
}

.faqSvg {
  width: 14px;
  height: 14px;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(45deg);
}

.answer {
  max-width: 450px;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #fff;
  border-radius: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answerOpen {
  max-height: 500px;
}

.answerInner {
  padding: 2.5rem 1.75rem 2rem;
}

.faqItem {
  border-radius: 16px;
  overflow: hidden;
  background: #2c2c2c;
}

.activItem {
  background: #6162fd;
}
