.sellers {
  background: #f5f6fb;
  padding-bottom: 11rem;
}

.sellersCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sellersItemText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #efefef;
  padding: 2.5rem;
  width: 100%;
  height: auto;
  border-radius: 26px;
  min-height: 421px;
}

.sellersImg {
  width: 33px;
  height: auto;
}

.sellersTitle {
  max-width: 480px;
  font-weight: 500;
  font-size: 28px;
  line-height: 111%;
  letter-spacing: -5%;
  color: #1a1a1a;
  margin-top: 3.5rem;
  margin-bottom: 7rem;
}

.sellersDesc {
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  letter-spacing: -2%;
  color: #0b0b0b;
}

.sellerImgUp {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 2.5rem;
  width: 100%;
  height: auto;
  border-radius: 26px;
  min-height: 421px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.advantageItem {
  width: fit-content;
  height: 40px;
  border-radius: 66px;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  border: 1px solid rgba(#ffffff, 0.34);
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -3%;
  color: #ffffff;
}

.sellersFigure {
  position: absolute;
  width: 553px;
  height: auto;
  right: -125px;
  top: -90px;
}

.sellerImgDown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 26px;
  min-height: 421px;
}

.triangleWrapper {
  position: relative;
  max-width: 380px;
}

.triangle {
  max-width: 380px;
  height: auto;
}

.accuracy {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 19px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #ffffff;
}

.control {
  position: absolute;
  bottom: -30px;
  left: -20px;
  font-weight: 500;
  font-size: 19px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #ffffff;
}

.speed {
  position: absolute;
  bottom: -30px;
  right: -20px;
  font-weight: 500;
  font-size: 19px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #ffffff;
}
