.menuHeader {
  display: flex;
  max-width: 440px;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 15px;
  letter-spacing: -2%;

  & li a {
    color: #ffffff;
    opacity: 0.65;
    font-weight: $fw-regular;
  }
}

.menuBurger {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 63px;

  li {
    color: #ffffff1f;
    font-size: 23px;
    padding-block: 8px;
    border-bottom: 1px solid #ffffff1f;

    a {
      color: #ffffff;
    }
  }
}
