.features {
  padding-top: 3.75rem;
  position: relative;
  background: #0b0b0b;
  width: 100%;
}

.featuresWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 3.3fr 4fr 2.3fr;
  align-items: stretch;
  gap: 0.75rem;
}

.featuresCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: #1e1d22;
  border-radius: 22px;
  padding: 5px;
}

.cardWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
  width: 100%;
  height: 271px;
  opacity: 0.86;
  border-radius: 22px;
  padding-inline: 3.25rem;
}

.featuresImage {
  width: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.25rem;
  padding: 2rem 1rem 2.5rem;
}

.cardTitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 118%;
  letter-spacing: -4%;
  vertical-align: middle;
  color: #ffffff;
}

.cardDesc {
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -2%;
  color: #ffffff;
  font-size: 15px;
  max-width: 80%;
}

.featuresBlur {
  position: absolute;
  background: #6162fd;
  width: 384px;
  height: 214px;
  top: 0;
  border-radius: 50%;
  transform: translateX(-200px);
  opacity: 0.8;
  filter: blur(250px);
  z-index: 2;
}

@media (max-width: 1024px) {
  .featuresWrapper {
    display: grid;
    grid-template-columns: 4fr 6fr;
  }
}

@media (max-width: 768px) {
  .featuresWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cardWindow {
    height: auto;
    padding-block: 3.25rem;
  }
}
