.solutions {
  background: #0b0b0b;
  padding-top: 4rem;
  padding-inline: 0.5rem;
  z-index: 20;
}

.solutionsBg {
  margin: 0 auto;
  background: #b1b2ff12;
  max-width: 1620px;
  padding-bottom: 8rem;
  border-radius: 21px;
  padding-top: 2rem;
}

.solutionsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 100px;
  gap: 20px;
}

.leftSolutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solutionsHeadline {
  font-size: clamp(3.5rem, 3vw, 2.5rem);
  font-weight: $fw-medium;
  line-height: $lh-heading;
  letter-spacing: -4%;
  text-align: left;
  color: #ffffff;
  margin-bottom: 50px;
}

.tabsList {
  flex-direction: column;
  gap: 5px;
  max-width: 450px;

  li button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    border-radius: 5px;
    padding: 12px 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    background: transparent;
    text-align: left;
    width: 100%;

    img {
      width: 20px;
      height: auto;
    }
  }
}

.tabContent {
  width: 100%;
  height: auto;
}

.tabActive {
  background: #6162fd;
  border-radius: 5px;
}

//mobile

.solutionContentMobile {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 0.75rem;
}

.solution {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  text-align: left;
  min-height: 70px;
  border-radius: 13px;
  padding-inline: 1.75rem;
  padding-block: 0.5rem;
  background: #2c2c2c;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #fff;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #6162fd;
  }
}

.white {
  background: #fff;
}

.tabSvg {
  width: 14px;
  height: 14px;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(45deg);
}

.imageSolutionMobile {
  max-width: 450px;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #fff;
  border-radius: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.tabOpen {
  max-height: 500px;
}

.imageInner {
  width: 310px;
  height: auto;
  padding: 2.5rem 1.75rem 2rem;
}

.tabItem {
  border-radius: 16px;
  overflow: hidden;
  background: #2c2c2c;
}

@media (max-width: 1024px) {
  .solutionContentMobile {
    display: flex;
  }
  .solutionsWrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .solutions {
    padding-inline: 0;
  }

  .solutionsBg {
    border-radius: 21px;
  }
}
