.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.default {
  max-width: 1387px;
}

.cards {
  max-width: 1391px;
}

.narrow {
  max-width: 1240px;
}

.mockup {
  max-width: 1240px;
}

.wide {
  max-width: 1620px;
}

.full {
  max-width: 100%;
}
