.ctaTwo {
  position: relative;
  background: #0b0b0b;
  overflow: hidden;
  z-index: 3;
}

.ctaTwoWrapper {
  padding-top: 14rem;
  padding-bottom: 308px;
  width: 100%;
  position: relative;
}

.ctaTwoContent {
  z-index: 20;
}

.ctaTwoHeadline {
  font-weight: 500;
  font-size: 55px;
  line-height: 96%;
  letter-spacing: -4%;
  color: #ffffff;
  max-width: 710px;
  margin-bottom: 33px;
  z-index: 30;
}

.headlineColor {
  display: inline-block;
  background: #6162fd;
  max-height: 60px;
  border-radius: 10px;
  padding-inline: 5px;
  padding-bottom: 5px;
  z-index: 20;
  color: #ffffff;
}

.ctaTwoBtnWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  min-height: 50px;
  z-index: 20;
  max-width: 528px;
}

.cpaTwoImg {
  position: absolute;
  max-width: 1064px;
  height: auto;
  bottom: 0;
  right: -150px;
  z-index: 15;
}

.ctaTwoGradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 100%);
  width: 100%;
  height: 261px;
  bottom: 0;
  z-index: 9;
  opacity: 0.8;
}

.ctaTwoEllipse {
  position: absolute;
  width: 1897px;
  height: 507px;
  border-radius: 50%;
  left: -207px;
  background: #6162fd;
  filter: blur(130px);
  bottom: -300px;
  z-index: 4;
}

@media (max-width: 1330px) {
  .cpaTwoImg {
    max-width: 800px;
    height: auto;
    right: -100px;
  }
}

@media (max-width: 1070px) {
  .cpaTwoImg {
    position: static;
    max-width: 100%;
    height: auto;
  }

  .ctaTwoWrapper {
    display: grid;
    grid-column: 1fr;
    padding-top: 7rem;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .ctaTwoHeadline {
    font-size: 34px;
  }

  .ctaTwoBtnWrapper {
    grid-template-columns: 1fr;
    width: 285px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .headlineColor {
    display: none;
  }
}
