.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: rgba(#0b0b0b, 0.4);
  height: 6vh;
  display: flex;
  align-items: center;
  backdrop-filter: blur(57px);
}

.headerContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 120px;
  }
}

.burgerIconWrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.btnWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.burgerIcon {
  width: 100%;
  width: 24px;
  height: 24px;
  display: none;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .burgerIcon {
    display: flex;
    justify-content: end;
  }

  .headerContainer {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .menuWrapper {
    display: none;
  }

  .logoHeader {
    justify-content: left;
  }

  .btnWrapper {
    display: none;
  }
}
