.allInOne {
  width: 100%;
  background: #0b0b0b;
  padding-bottom: 116px;
}

.allDiagram {
  position: relative;
  margin: 0 auto;
  height: 970px;
}

.allCenter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('@/shared/assets/icons/diagram.svg') calc(50% - 72px) top /
    contain no-repeat;
  width: 1072px;
  height: 100%;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.allLogo {
  width: 215px;
  height: auto;
}

.allMockup {
  width: 390px;
  height: auto;
}

.leftList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px;
  left: 0;
  top: 370px;
  transform: translateY(-50%);
  color: #fff;
  width: 136px;

  li:nth-child(3) {
    transform: translateY(14px);
  }

  li:nth-child(4) {
    transform: translateY(54px);
  }

  li:nth-child(5) {
    transform: translateY(70px);
  }
}

.rightList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px;
  right: 0;
  top: 370px;
  transform: translateY(-50%);
  color: #fff;
  width: 210px;

  li:nth-child(2) {
    transform: translateY(14px);
  }

  li:nth-child(3) {
    transform: translateY(28px);
  }

  li:nth-child(4) {
    transform: translateY(90px);
  }

  li:nth-child(5) {
    transform: translateY(150px);
  }
}

@media (max-width: 1466px) {
  .allCenter {
    display: none;
  }

  .allDiagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: static;
    height: auto;
    gap: 5px;
  }

  .leftList,
  .rightList {
    position: static;
    gap: 5px;
    transform: none;
    width: 100%;

    li {
      display: flex;
      padding-inline: 15px;
      align-items: center;
      width: 100%;
      height: 50px;
      border-radius: 7px;
      background: #ffffff0a;
      transform: none;
    }
  }

  .leftList {
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
      transform: none;
    }
  }

  .rightList {
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
      transform: none;
    }
  }
}

@media (max-width: 768px) {
  .allDiagram {
    grid-template-columns: 1fr;
  }
}
