.integrationsBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 593px;
  border-radius: 33px;
  padding: 70px 100px;
  /* background: #111212;*/
  background: url('@/shared/assets/images/card-integration-bg.png') center /
    cover no-repeat;
  backdrop-filter: blur(230px);
}

.cardBorder {
  max-width: 478px;
  width: 100%;
  height: 100%;
  border-radius: 19px;
  background: #ffffff0a;
  backdrop-filter: blur(50px);
  padding: 6px;

  svg {
    margin-left: 10px;
  }
}

.insideBorder {
  width: 100%;
  height: calc(100% - 20px);
  border-radius: 17px;
  border: 1px solid #ffffff24;
  backdrop-filter: blur(74.5px);
  padding: 65px 90px;
}

.intagrationIcons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.integrationsMarketplaces {
  display: flex;
  justify-content: space-between;
}

.logoBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  border-radius: 6px;
  background: #6162fd;
  border: 1px solid #ffffff0d;
  margin: 0 auto;

  img {
    width: 84px;
    height: auto;
  }
}
